<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie app index</title>
  </head>
  <body>
<h1>Movies</h1>
  <ul>
    <li><a href="/mov/all">All movies</a></li>
    <li><a href="/movies/new">Add movie</a></li>

  </ul>

<h1>Users</h1>
<ul>
  <li><a href="/u/all">All users</a></li>
  <li><a href="/u/new">Add user</a></li>

</ul>
  </body>
</html>
