<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% title = 'Create a new movie Today' %>
  </head>
  <body>
    <form class="" action="/movies" method="post">
      <input type="text" name="filmtitle">
      <input type="number" name="filmreleaseyear">
      <input type="submit" value="Create Movie">
    </form>

  </body>
</html>
